<br>
<div align="center"><span style="font-family:Monaco;font-size:50px;color:#1c6199">Master 2 MASERATI</span></div><br><br>
<div align="center"><span style="font-family:Monaco;font-size:40px;color:#1c6199">Cours de Python</span></div><br><br>
<div align="center"><span style="font-family:Monaco;font-size:30px;color:#1c6199">2023/2024</span></div><br><br>
<div align="center"><span style="font-family:Monaco;font-size:15px;color:#1c6199">Enseignante : Lucia Cossaro</div>
<div align="center"><span style="font-family:Monaco;font-size:15px;color:#1c6199">E-mail : luciacossaro@gmail.com</div>
<hr>

# Initialisation

Chargeons d'abord les modules ainsi qu'un jeu de données

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_gflight = pd.read_csv('../data/Googleflights.csv', sep=';', decimal=',')

Jettons un coup d'oeil à la table

In [4]:
df_gflight.sample(5)

,id,respid,extrtime,origin,destination,company,depdate,arrdate,duration,flighttype,price,stopover,stopovertime
5349,59,124,15/01/2016 10:18:11,BES,NCE,Air France-Air France,2016-03-15T13:10:00,2016-03-16T10:40:00,21.500000,aller simple,115.0,1 escale,18h 50min à ORY
869,7,100,15/01/2016 10:12:58,TLS,NTE,Air France-Air France,2016-03-15T15:35:00,2016-03-16T14:30:00,22.916667,aller simple,105.0,1 escale,20h 20min à ORY
4378,51,45,15/01/2016 10:17:21,NTE,NCE,Air France-Air France,2016-03-15T11:25:00,2016-03-15T17:45:00,6.333333,aller simple,107.0,1 escale,3h 55min à ORY
5786,67,48,15/01/2016 10:18:56,LRT,NCE,Air France-Air France,2016-03-15T14:10:00,2016-03-16T07:50:00,17.666667,aller simple,171.0,1 escale,14h 55min à ORY
3854,46,80,15/01/2016 10:16:50,NTE,BOD,Air France-Air France,2016-03-15T06:30:00,2016-03-15T12:10:00,5.666667,aller simple,154.0,1 escale,3h 30min à ORY

In [5]:
df_gflight.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6815 entries, 0 to 6814
Data columns (total 13 columns):
id              6815 non-null int64
respid          6815 non-null int64
extrtime        6815 non-null object
origin          6815 non-null object
destination     6815 non-null object
company         6815 non-null object
depdate         6815 non-null object
arrdate         6815 non-null object
duration        6813 non-null float64
flighttype      6815 non-null object
price           6805 non-null float64
stopover        6815 non-null object
stopovertime    6672 non-null object
dtypes: float64(2), int64(2), object(9)
memory usage: 692.2+ KB

# Chaines de caractères

## Modifier une série de manière systématique grâce à map

### Sur la base d'un dictionnaire

La méthode **Series.map()** permet, en utilisant un dictionnaire de "correspondance" de convertir des modalités en d'autres modalités

In [6]:
df_gflight['stopover'].unique()

array(['Sans escale', '1 escale'], dtype=object)

In [7]:
dict_escales = {
    'Sans escale' : 0,
    '1 escale' : 1,
}

In [8]:
df_gflight['stopover'] = df_gflight['stopover'].map(dict_escales)

In [9]:
df_gflight['stopover'].sample(5)

2311    1
1615    1
3085    1
618     1
173     1
Name: stopover, dtype: int64

### Sur la base d'une fonction

La méthode **Series.map()** permet aussi d'appliquer une fonction à chaque élément d'une Series

In [10]:
df_gflight['stopovertime'].unique()

array([nan, '45min à LYS', '1h 40min à LYS', ..., '21h 55min à MRS',
       '11h 50min à MRS', '23h 50min à NCE'], dtype=object)

On peut par exemple appliquer la fonction suivante pour transformer nos ids en chaines de caractères en index

In [11]:
def conv_func(val):
    if val is np.nan:
        return np.nan
    else:
        if 'h ' in val:
            heures = int(val.split('h ')[0]) #Decoupe selon 'h ' et après le convertir en entier.
            minutes = int(val.split('h ')[1].split('min')[0]) #Decoupe en plus selon 'Min' maintenant.
            return heures + minutes/60
        elif 'min' in val:
            return int(val.split('min')[0])/60
        else:
            raise BaseException('Problème')

In [12]:
df_gflight['stop_time'] = df_gflight['stopovertime'].map(conv_func)

In [13]:
df_gflight[['stopovertime', 'stop_time']].sample(5)

         stopovertime  stop_time
1733  23h 35min à ORY  23.583333
3268  22h 30min à TLS  22.500000
4570  15h 15min à ORY  15.250000
3168  22h 50min à CDG  22.833333
280   21h 20min à BOD  21.333333

On peut faire de même pour extraire les aéroports de correspondance. Ici, c'est une fonction lambda qui est utilisée :

In [14]:
def ma_fonc(x):
    if x is np.nan:
        return ''
    else:
        return x.split(' à ')[l]

In [15]:
df_gflight['stop_place'] = df_gflight['stopovertime'].map(lambda x: '' if x is np.nan else x.split(' à ')[1])

In [16]:
df_gflight[['stopovertime', 'stop_place']].sample(5)

         stopovertime stop_place
1161  16h 25min à ORY        ORY
3443  13h 40min à TLS        TLS
650   21h 15min à LYS        LYS
4161   1h 30min à AMS        AMS
765   19h 05min à AMS        AMS

<div class="alert alert-block alert-info"><b>Pour aller plus loin :</b> <a href=https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.map.html> Doc officielle Pandas sur la <b>méthode map</b></a></div>

## Objet .str

Une autre manière aurait été de prendre les 3 derniers caractères de la chaine de caractères, pour faire des opérations de type méthode de **str** sur une Serie **object**, on peut utiliser l'objet **.str**

In [17]:
df_gflight['stopovertime'].str[-3:].sample(5)

6787    CDG
2729    ORY
6018    CDG
1329    CDG
1412    ORY
Name: stopovertime, dtype: object

La plupart des méthodes aprises dans le cadre des chaines de caractères peuvent être utilisées avec l'objet **.str** :

In [18]:
df_gflight['stopovertime'].str.split().sample(5)

2192    [18h, 40min, à, ORY]
3637    [10h, 55min, à, MRS]
2181    [19h, 05min, à, ORY]
2333     [1h, 45min, à, ORY]
370      [3h, 40min, à, CDG]
Name: stopovertime, dtype: object

In [19]:
df_gflight['stopovertime'].str.upper().sample(5)

2373    24H 10MIN À ORY
5913        55MIN À ORY
2438     2H 10MIN À ORY
1071    17H 15MIN À ORY
4168     3H 45MIN À ORY
Name: stopovertime, dtype: object

<div class="alert alert-block alert-info">
<b>Pour aller plus loin:</b> <a href=https://pandas.pydata.org/pandas-docs/stable/text.html> Tutoriel sur le <b>traitement de chaines de caractères </b></a>
</div>

# Valeurs manquantes

Remarque :

les **object** et **floatXX** contenir des **numpy.nan** (**valeur manquante** dans une **numpy.ndarray**, et par héritage **pandas.Series** et **pandas.DataFrame**), pas les **intXX**

## Savoir quelles cases sont nulles

In [20]:
df_gflight.isnull().head()

,id,respid,extrtime,origin,destination,company,depdate,arrdate,duration,flighttype,price,stopover,stopovertime,stop_time,stop_place
0,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
2,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

Ou l'inverse :

In [21]:
df_gflight.notnull().head()

,id,respid,extrtime,origin,destination,company,depdate,arrdate,duration,flighttype,price,stopover,stopovertime,stop_time,stop_place
0,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
1,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
2,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
3,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

On peut les compter ainsi (car True est considéré = 1 et False = 0):

In [22]:
df_gflight.isnull().sum()

id                0
respid            0
extrtime          0
origin            0
destination       0
company           0
depdate           0
arrdate           0
duration          2
flighttype        0
price            10
stopover          0
stopovertime    143
stop_time       143
stop_place        0
dtype: int64

## Supprimer les lignes où il y a des valeurs manquantes

C'est typiquement ce qu'on voudra faire avec les valeurs manquantes sur notre variable expliquée

In [23]:
df_gflight = df_gflight.dropna(subset=['price'])

In [24]:
df_gflight.isnull().sum()

id                0
respid            0
extrtime          0
origin            0
destination       0
company           0
depdate           0
arrdate           0
duration          1
flighttype        0
price             0
stopover          0
stopovertime    133
stop_time       133
stop_place        0
dtype: int64

## Initialiser les valeurs manquantes d'une variable explicative à la valeur moyenne

In [25]:
df_gflight['duration'] = df_gflight['duration'].fillna(df_gflight['duration'].mean())

In [26]:
df_gflight.isnull().sum()

id                0
respid            0
extrtime          0
origin            0
destination       0
company           0
depdate           0
arrdate           0
duration          0
flighttype        0
price             0
stopover          0
stopovertime    133
stop_time       133
stop_place        0
dtype: int64

## Initialiser les valeurs manquantes d'une variable explicative à une modalité

In [27]:
df_gflight['stop_time'] = df_gflight['stop_time'].fillna(0)

In [28]:
df_gflight.isnull().sum()

id                0
respid            0
extrtime          0
origin            0
destination       0
company           0
depdate           0
arrdate           0
duration          0
flighttype        0
price             0
stopover          0
stopovertime    133
stop_time         0
stop_place        0
dtype: int64

<div class="alert alert-block alert-info">
<b>Pour aller plus loin:</b> <a href=https://pandas.pydata.org/pandas-docs/stable/missing_data.html> Tutoriel sur le <b>traitement des valeurs manquantes</b></a>
</div>

# Ajout/suppression de colonnes

## Ajouter une colonne

Ajoutons la Series représentant le temps en vol, qui est la différence entre la durée totale et le temps en correspondance :

In [29]:
df_gflight['inflight'] = df_gflight['duration'] - df_gflight['stop_time']

## Supprimer une colonne

Lorsqu'il y a des Series avec une seule modalité, elles sont généralement inutiles

In [30]:
df_gflight['flighttype'].unique()

array(['aller simple'], dtype=object)

Profitons-en pour supprimer quelques Series inutiles

In [31]:
df_gflight = df_gflight.drop(['flighttype', 'stopovertime', 'id', 'respid', 'extrtime'], axis=1)

**axis=1** car on veut supprimer des colonnes et que l'axe 0, ce sont les lignes

# Séries temporelles

## Conversion en format date

Les variables temporelles en format texte sont aussi très difficiles à exploiter. On va **a minima** les transformer en objet **Timestamp** (l'objet de la librairie pandas permettant de donner une valeur temporelle précise)

In [32]:
for elem in ['depdate', 'arrdate']:
    df_gflight[elem] = pd.to_datetime(df_gflight[elem])

Normalement, to_datetime() fonctionne bien (surtout quand on lui demande de travailler sur un grand nombre de cas possibles, car il a alors moins de chance de se tromper en déterminant automatiquement un format de date/heure)

Mais on peut le forcer à adopter un format précis pour éviter toute erreur :

In [33]:
pd.to_datetime(df_gflight['depdate'], format='%Y-%m-%dT%H:%M:%S').head()

0   2016-03-15 12:35:00
1   2016-03-15 16:40:00
2   2016-03-15 21:05:00
3   2016-03-15 19:30:00
4   2016-03-15 13:20:00
Name: depdate, dtype: datetime64[ns]

## Conversion en float

Le format de séries temporelles que nous avons utilisé ne va pas nous convenir pour les régressions et les algotithmes de Data Science (il nous... On peut ajouter des colonnes calculant des timedelta, un nombre d'unité de temps (des jours par exemple, **D**) depuis une date de référence. Une bonne idée peut être de prendre la plus ancienne des dates des colonnes concernées...

In [34]:
df_gflight['depdate'].min()

Timestamp('2016-03-15 06:00:00')

In [35]:
df_gflight['depdate'].max()

Timestamp('2016-03-15 21:55:00')

In [36]:
df_gflight['time'] = (df_gflight['depdate'] - df_gflight['depdate'].min()) / np.timedelta64(1,'D')

<div class="alert alert-block alert-info"><b>Pour aller plus loin :</b> <a href=https://docs.scipy.org/doc/numpy/reference/arrays.datetime.html> Doc officielle Numpy sur les <b>objets datetime</b></a></div>

## Objet .dt

Comme pour les Series de chaines de caractères, pour lesquelles il existe un objet **.str**, pour les Series de dates, il existe un objet **.dt** qui permet de faire appel aux méthode des objets **datetime.datetime**

In [37]:
df_gflight['depdate'].dt.hour.sample(5)

6191    13
1751    13
920     19
114     10
2074    13
Name: depdate, dtype: int64

In [38]:
df_gflight['depdate'].dt.dayofweek.sample(5)

3195    1
1284    1
3703    1
2032    1
5938    1
Name: depdate, dtype: int64

In [39]:
df_gflight['depdate'].dt.time.sample(5)

3497    15:05:00
4183    18:35:00
1147    19:00:00
4968    08:50:00
5317    06:40:00
Name: depdate, dtype: object

<div class="alert alert-block alert-info">
<b>Pour aller plus loin:</b> <a href=https://pandas.pydata.org/pandas-docs/stable/timeseries.html> Tutoriel sur le <b>traitement des séries temporelles</b></a>
</div>

# Catégories

## Object ou Category

Généralement, on essaie de faire en sorte d'avoir le moins de colonnes de type **object** (**str**) dans nos DataFrame, c'est le type que pandas assigne par défaut aux données qui ont l'air d'être des chaines de caractères.

Ce type pose deux problèmes:
- Il prend beaucoup de place en mémoire
- Il est le plus difficile à traiter dans le cadre de l'analyse

Et c'est rare qu'une colonne ait de bonnes raisons d'être de ce type (à part les trucs du genre colonne de commentaires). On va généralement convertir le plus de colonnes possible en types standardisés, plus faciles à exploiter ou retransformer

A l'inverse, dans les Data Science, on aime les nombres à virgule, les **float** qui sont utilisables par les algorithmes.

In [40]:
df_gflight.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6805 entries, 0 to 6814
Data columns (total 12 columns):
origin         6805 non-null object
destination    6805 non-null object
company        6805 non-null object
depdate        6805 non-null datetime64[ns]
arrdate        6805 non-null datetime64[ns]
duration       6805 non-null float64
price          6805 non-null float64
stopover       6805 non-null int64
stop_time      6805 non-null float64
stop_place     6805 non-null object
inflight       6805 non-null float64
time           6805 non-null float64
dtypes: datetime64[ns](2), float64(5), int64(1), object(4)
memory usage: 691.1+ KB

## Générer des catégories

On peut convertir les colonnes en utilisant la méthode **pandas.Series.astype('category')**

In [41]:
for elem in ['origin', 'destination', 'stopover', 'company', 'stop_place']:
    df_gflight[elem] = df_gflight[elem].astype('category')

In [42]:
df_gflight.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6805 entries, 0 to 6814
Data columns (total 12 columns):
origin         6805 non-null category
destination    6805 non-null category
company        6805 non-null category
depdate        6805 non-null datetime64[ns]
arrdate        6805 non-null datetime64[ns]
duration       6805 non-null float64
price          6805 non-null float64
stopover       6805 non-null category
stop_time      6805 non-null float64
stop_place     6805 non-null category
inflight       6805 non-null float64
time           6805 non-null float64
dtypes: category(5), datetime64[ns](2), float64(5)
memory usage: 461.7 KB

## Objet .cat

De même que les chaines de caractères ont **.str** et les dates ont **.dt**, les catégories ont **.cat**

In [43]:
df_gflight['origin'].sample(5)

3110    NTE
1530    MRS
2972    MPL
5262    BES
855     TLS
Name: origin, dtype: category
Categories (18, object): [BES, BOD, CDG, LAI, ..., SXB, TLN, TLS, UIP]

In [44]:
df_gflight['origin'].cat.codes.sample(5)

4414    11
3861    11
1478     9
2900     8
1238     1
dtype: int8

In [45]:
df_gflight['origin'].cat.categories

Index(['BES', 'BOD', 'CDG', 'LAI', 'LIL', 'LRT', 'LYS', 'MLH', 'MPL', 'MRS',
       'NCE', 'NTE', 'ORY', 'RNS', 'SXB', 'TLN', 'TLS', 'UIP'],
      dtype='object')

<div class="alert alert-block alert-info">
<b>Pour aller plus loin:</b> <a href=https://pandas.pydata.org/pandas-docs/stable/categorical.html> Tutoriel sur le <b>traitement des catégories</b></a>
</div>

## Génération de variables muettes

Les variables catégorielles posent encore plus de problèmes, auxquels on peut apporter plusieurs solutions:
- transformer les variables en dummies à deux modalités en choix 0 / 1
- transformer les variables multimodales :
    - soit en équivalent numérique si ça a un sens, si l'on pense que la distance numérique entre deux modalités correspond à ce que l'on au modélise... (par exemple : 1, 2 ou 3 chambres ? Est-ce que la distance entre 1 et 2 chambres est bien égale à la distance entre 2 et 3 chambres? Souvent ce ne sera pas un bon choix en termes de modèle)
    - soit en une série de variables oui / non (souvent un meilleur choix lorsque l'on peut se permettre de perdre le nombre de degrés de liberté correspondant au nombre de modalités - 1), en retirant toujours une modalité de référence
    - soit en une valeur numérique "représentant" la modalité (centre de gravité ou autre)

Une solution est de générer automatiquement des dummies à partir de catégories de type chaine de caractère en utilisant la fonction **pandas.get_dummies(series)** (**conseil :** utilisez-là avec l'option **drop_first=True** ou supprimez manuelement la serie qui servira de référence, pour éviter d'avoir un problème de **multicolinéarité parfaite** lors d'une régression)

In [46]:
df_dummies = pd.get_dummies(df_gflight['destination'], drop_first=True)
df_dummies.sample(5)

,BOD,CDG,LAI,LIL,LRT,LYS,MLH,MPL,MRS,NCE,NTE,ORY,RNS,SXB,TLN,TLS,UIP
292,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
6359,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3350,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
6349,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
403,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

On peut ensuite ajouter ces nouvelles variables en faisant une concaténation

# Ecriture dans un fichier

Stockons cette base de données modifiée, sous format Excel (pour visualiser facilement les données

In [47]:
df_gflight.to_excel('../output/Output_GFLT.xlsx')

Sous format **Pickle** (le format pure Python) juste pour pouvoir récupérer les données dans un autre notebook à **100% identique au DataFrame que nous avons ici**.

Les **catégories** en particulier sont un type qu'Excel ne sait pas gérer contrairement à Python... On perdrait donc cela en rechargeant depuis le fichier Excel)

In [48]:
df_gflight.to_pickle('../output/Output_GFLT.pickle')

# Jointures et concatenations

## Concaténation

On peut facilement ajouter des lignes à un DataFrame en utilisant la fonction **pandas.concat()**. 

Elle prend comme seul argument obligatoire un **tuple** ou une **list** de **DataFrame** (on peut en concatener plusieurs d'un coup)

In [49]:
df_gflight_avec_dummies = pd.concat([df_gflight, df_dummies], axis=1)

df_gflight_avec_dummies.sample(5)

,origin,destination,company,depdate,arrdate,duration,price,stopover,stop_time,stop_place,...,MPL,MRS,NCE,NTE,ORY,RNS,SXB,TLN,TLS,UIP
3075,MRS,RNS,HOP!-HOP!,2016-03-15 16:50:00,2016-03-15 21:30:00,4.666667,128.0,1,2.416667,TLS,...,0,0,0,0,0,1,0,0,0,0
5210,BES,TLS,Air France-Air France,2016-03-15 06:15:00,2016-03-15 21:50:00,15.583333,172.0,1,13.083333,ORY,...,0,0,0,0,0,0,0,0,1,0
3097,NTE,MLH,Air France-Air France,2016-03-15 14:25:00,2016-03-16 09:05:00,18.666667,95.0,1,16.583333,ORY,...,0,0,0,0,0,0,0,0,0,0
1233,BOD,BES,Air France-Air France,2016-03-15 11:30:00,2016-03-15 22:40:00,11.166667,82.0,1,8.750000,CDG,...,0,0,0,0,0,0,0,0,0,0
5418,LRT,ORY,Air France,2016-03-15 10:35:00,2016-03-15 12:00:00,1.416667,51.0,0,0.000000,,...,0,0,0,0,1,0,0,0,0,0

Attention, ici il faut concatener des DataFrame dans le sens des colonnes, pas dans le sens des lignes, il faut alors spécifier le paramètre **axis=1**

<div class="alert alert-block alert-info"><b>Pour aller plus loin :</b> <a href=https://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html> Doc officielle sur la méthode <b> .concat()</b></a></div>

## Jointure

In [50]:
df_aero = pd.read_csv('../data/airports.csv', sep=';')

In [51]:
df_aero.head()

,Iter,Req,Resp,T_Iter,T_Req,Code,Name
0,NaN,1,1,NaN,2017-05-14 00:17:55,AAA,Anaa
1,NaN,1,2,NaN,2017-05-14 00:17:55,AAB,Arrabury
2,NaN,1,3,NaN,2017-05-14 00:17:55,AAC,El Arish International Airport
3,NaN,1,4,NaN,2017-05-14 00:17:55,AAE,Les Salines
4,NaN,1,5,NaN,2017-05-14 00:17:55,AAF,Apalachicola Regional

In [52]:
assert len(df_aero) == len(df_aero['Code'].unique())
df_aero = df_aero.set_index('Code')

In [53]:
df_aero.head()

,Iter,Req,Resp,T_Iter,T_Req,Name
Code,,,,,,
AAA,NaN,1,1,NaN,2017-05-14 00:17:55,Anaa
AAB,NaN,1,2,NaN,2017-05-14 00:17:55,Arrabury
AAC,NaN,1,3,NaN,2017-05-14 00:17:55,El Arish International Airport
AAE,NaN,1,4,NaN,2017-05-14 00:17:55,Les Salines
AAF,NaN,1,5,NaN,2017-05-14 00:17:55,Apalachicola Regional

In [54]:
df_gflight.head()

,origin,destination,company,depdate,arrdate,duration,price,stopover,stop_time,stop_place,inflight,time
0,CDG,NTE,Air France,2016-03-15 12:35:00,2016-03-15 13:40:00,1.083333,52.0,0,0.00,,1.083333,0.274306
1,CDG,NTE,Air France,2016-03-15 16:40:00,2016-03-15 17:45:00,1.083333,52.0,0,0.00,,1.083333,0.444444
2,CDG,NTE,Air France,2016-03-15 21:05:00,2016-03-15 22:10:00,1.083333,52.0,0,0.00,,1.083333,0.628472
3,ORY,NTE,Air France,2016-03-15 19:30:00,2016-03-15 20:45:00,1.250000,69.0,0,0.00,,1.250000,0.562500
4,CDG,NTE,Air France-HOP!,2016-03-15 13:20:00,2016-03-15 16:25:00,3.083333,93.0,1,0.75,LYS,2.333333,0.305556

In [55]:
new_df = pd.merge(
    df_gflight, # table de gauche
    df_aero[['Name']], # table de droite
    how='inner', # mode de jointure : inner, outer, left, right
    left_on='origin', # colonne utilisée pour la jointure dans la table de gauche
    right_index=True,  # au lieu d'une colonne on utilise l'index de la table de droite
)
# on utilise le paramètre on='col_name' lorsque le nom de colonne est le même
# dans les deux dataframe, dans ce cas, ça remplace les paramètres
# left_on, right_on, left_index, right_index

new_df = new_df.rename({'Name': 'name_orig'}, axis=1)

In [56]:
new_df.head()

,origin,destination,company,depdate,arrdate,duration,price,stopover,stop_time,stop_place,inflight,time,name_orig
0,CDG,NTE,Air France,2016-03-15 12:35:00,2016-03-15 13:40:00,1.083333,52.0,0,0.000000,,1.083333,0.274306,Charles De Gaulle
1,CDG,NTE,Air France,2016-03-15 16:40:00,2016-03-15 17:45:00,1.083333,52.0,0,0.000000,,1.083333,0.444444,Charles De Gaulle
2,CDG,NTE,Air France,2016-03-15 21:05:00,2016-03-15 22:10:00,1.083333,52.0,0,0.000000,,1.083333,0.628472,Charles De Gaulle
4,CDG,NTE,Air France-HOP!,2016-03-15 13:20:00,2016-03-15 16:25:00,3.083333,93.0,1,0.750000,LYS,2.333333,0.305556,Charles De Gaulle
5,CDG,NTE,Air France-HOP!,2016-03-15 13:20:00,2016-03-15 17:20:00,4.000000,93.0,1,1.666667,LYS,2.333333,0.305556,Charles De Gaulle

In [57]:
new_df = pd.merge(
    new_df,
    df_aero[['Name']],
    how='inner',
    left_on='destination',
    right_index=True,
)

new_df = new_df.rename({'Name': 'name_dest'}, axis=1)

In [58]:
assert len(new_df) == len(df_gflight)

In [59]:
new_df.sample(3).T

                            3445                   780                    5504
origin                       RNS                    TLS                    LRT
destination                  SXB                    NTE                    BOD
company                HOP!-HOP!  Air France-Air France  Air France-Air France
depdate      2016-03-15 18:30:00    2016-03-15 11:10:00    2016-03-15 14:10:00
arrdate      2016-03-16 22:15:00    2016-03-15 17:45:00    2016-03-15 20:45:00
duration                   27.75                6.58333                6.58333
price                        138                     85                    178
stopover                       1                      1                      1
stop_time                25.1667                4.16667                4.08333
stop_place                   TLS                    CDG                    ORY
inflight                 2.58333                2.41667                    2.5
time                    0.520833               0.215278               0.340278
name_orig             St Jacques                Blagnac            Lann Bihoue
name_dest               Entzheim      Nantes Atlantique               Mérignac

<div class="alert alert-block alert-info"><b>Pour aller plus loin :</b> <a href=https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html> Doc officielle sur la méthode <b>.merge()</b></a></div>

---

<div class="alert alert-block alert-info"><b>Pour aller plus loin :</b> <a href=https://pandas.pydata.org/pandas-docs/stable/merging.html>Tutoriel sur les <b> jointures et concatenations </b></a></div>